@font-face{
    font-family: 'Vazir-light';
    src:
    url("/Fonts/Vazirmatn-Light.ttf") format("trutype"),
    url("/Fonts/Vazirmatn-Light.woff2") format("woff2");
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Rubik,"Vazir-light";
}

.header{
    background-color: #1E1E1E;
    /* height: 5rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    padding: 5px 15px;
}
.logo a{
    color: #fff;
    font-size: 48px;
    font-weight: 500;

    position: relative;
}
.logo a span{
    color: #1565C0;
}
.logo a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    height: 5px;
    border-radius: 15px;
    background-color: #1565C0;
}

.nav-mnu{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.nav-items{
    padding: 10px;
    position: relative;
}
.nav-items a{
    color: #fff;
    padding: 8px;
    transition: all ease 0.4s;
}
.nav-items a:hover{
    color: #1565C0;
}

.cv-btn{
    color: #1565C0;
    border: 2px solid #1565C0;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

#nav-btn{
    display: none;

    font-size: 32px;
    color: #fff;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;

}
.mob-navbar{
    display: none;
    height: 100vh;
    width: 80%;
    background-color: #5c5c5c;
    z-index: 999;
}
#nav-btn-close{
    font-size: 32px;
    color: #fff;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 15px;
}


@media screen and (max-width:768px)
{
    .nav-mnu{
        display: none;
    }
    .cv-btn{
        display: none;
    }
    #nav-btn{
        display: block;
    }
}
@media screen and ( max-width:425px)
{
    .logo a{
        font-size: 40px;
    }
}